.modal {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 26, 27, .6);
}

.wrapper-box-modal {
    width: 33rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--black-color);
    border-radius: 1.5rem;
    padding: 2rem;
}

.wrapper-box-modal div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.wrapper-box-modal i {
    font-size: 2rem;
    transition: all 400ms;
    cursor: pointer;
}

.wrapper-box-modal i:hover {
    color: brown;
}

.wrapper-box-modal p {
    font-size: 1.6rem;
}

.wrapper-box-modal p span {
    color: var(--primary-color);
}

.wrapper-box-modal input::placeholder {
    color: var(--primary-color);
}

.wrapper-box-modal input {
    width: 365px;
    border: 0;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--primary-color);
    background-color: rgba(254, 207, 119, .2);
}

.wrapper-box-modal button {
    border: 0;
    background-color: rgba(221, 175, 91, 0.8);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--white-text);
    font-size: 1rem;
    cursor: pointer;
}