.modal {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24,26,27,.6);
}

.wrapper-box-modal {
    width: 33rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--black-color);
    border-radius: 1.5rem;
    padding: 2rem;
}