@import './font.css';

:root {
    --gray-text-color: gray;
    --lightgray-text-color: lightgray;
    --white-text-color: whitesmoke;
    --very-lightgray-text-color: rgba(211, 211, 211, .2);
    --primary-color: rgb(207, 163, 80);
    --black-color: #242A38;
    --font-space: Space_Mono;
    --font-maven: Maven_Pro;
}