@import './root.css';

html {
    font-size: 95% !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-space);
    background-color: #111827;
    color: var(--white-text-color);
}

/* start styles helper */
input:focus {
    outline: none;
}

input::placeholder {
    color: var(--lightgray-text-color);
}

[type="checkbox"] {
    appearance: none;
    box-sizing: border-box;
    padding: .6rem;
    border-radius: 1rem;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: rgba(207, 163, 80, .5);
}

.parent-sidebar__icon,
.parent-sidebar__title,
.parent-todolist__parent-inp button,
.parent-sidebar-left__parent-newlist,
.parent-sidebar-left__lists li:not(.active-list),
.parent-sidebar-left__lists li .bi-x,
.user-todo__right i {
    transition: all 400ms ease;
}

/* end styles helper */

.container-todolist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*! start styles sidbare left */
.parent-sidebar-left {
    width: 20rem;
    min-height: 75vh;
    background-color: var(--black-color);
    font-family: var(--font-maven);
    box-shadow: 0px 0px 20px var(--primary-color);
    border-radius: 3.5rem;
    margin-left: 1rem;
}

.parent-sidebar-left section {
    padding: 1rem;
}

.parent-sidebar-left__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6rem 0 8rem 0;
}

.parent-sidebar-left__icon {
    margin-right: .5rem;
    font-size: 2.8rem;
    border-radius: .5rem;
    color: var(--primary-color);
}

.parent-sidebar-left__title {
    margin: 0;
    font-family: var(--font-maven);
    text-align: center;
    user-select: none;
    font-size: 2.3rem;
    color: var(--white-text-color);
}

.parent-sidebar-left__list {
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0rem .5rem;
}

.parent-sidebar-left__container-newlist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.parent-sidebar-left__parent-newlist {
    user-select: none;
    cursor: pointer;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: 3rem;
    color: lightgray;
    font-size: 1.4rem;
}

.parent-sidebar-left__parent-newlist:hover {
    padding: 0 .8rem 0 .4rem;
    background-color: rgba(24, 26, 27, .8);
}

.parent-sidebar-left__lists {
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.4rem;
    color: lightgrey;
    padding: 0;
}

.parent-sidebar-left__lists li.active-list {
    background-color: var(--primary-color);
    border-radius: 50rem;
    padding: .8rem 1rem;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parent-sidebar-left__lists li .bi-x {
    font-size: 2rem;
}

.parent-sidebar-left__lists li .bi-x:hover {
    color: whitesmoke;
}

.parent-sidebar-left__lists li {
    margin: 1rem 0 1rem .5rem;
    padding: .8rem 1rem;
    cursor: pointer;
    color: var(--white-text-color);
    font-weight: bold;
}

.parent-sidebar-left__lists li:not(.active-list):hover {
    color: var(--primary-color);
}

/*! end styles sidbare left */

/** start styles main */
.parent-todolist {
    width: 55rem;
    padding: 0 11rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.parent-todolist__header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.parent-todolist__header-left {
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: 2.6rem;
    position: absolute;
    left: -4.5rem;
    color: var(--lightgray-text-color);
    user-select: none;
}

.parent-todolist__header-left p,
.parent-todolist__header-left h3 {
    margin: 0;
    text-align: center;
}

.parent-todolist__header-right {
    margin-left: 3rem;
}

.title-main,
.sub-title-main {
    font-family: var(--font-maven);
}

.title-main {
    margin-bottom: .8rem;
    font-size: 3.8rem;
}

.sub-title-main {
    margin: 0 0 3.5rem 0;
    font-size: 3rem;
    color: var(--gray-text-color);
}

.parent-todolist__parent-inp {
    background-color: rgba(207, 163, 80, .2);
    border: 2px solid var(--primary-color);
    border-radius: 50rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.parent-todolist__parent-inp input {
    border: 0;
    background-color: transparent;
    color: var(--primary-color);
    padding: 1.2rem .8rem 1.2rem 1.2rem;
    font-size: 1.3rem;
    width: 70%;
    letter-spacing: .1rem;
}

.parent-todolist__parent-inp button {
    color: white;
    border: 1px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    background-color: rgba(207, 163, 80, .5);
    border-radius: 50rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0 1rem;
}

.parent-todolist__parent-inp button:hover {
    background-color: var(--primary-color);
    padding: 0 1.3rem;
}

.user-todo,
.user-todo__left,
.user-todo__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-todo {
    margin-top: 1.5rem;
    background-color: var(--black-color);
    border-radius: 50rem;
    padding: .5rem 1rem;
    font-family: var(--font-maven);
    font-weight: bold;
}

.user-todo__info {
    margin-left: 1.5rem;
}

.user-todo__date {
    color: var(--lightgray-text-color);
    margin-bottom: 0;
    font-size: .9rem;
    font-family: var(--font-space);
}

.user-todo__text {
    margin-top: .5rem;
    font-size: 1.2rem;
}

.user-todo__right i {
    font-size: 2.1rem;
    cursor: pointer;
    margin-left: 1rem;
    color: rgb(203, 52, 52);
    background-color: rgba(24, 26, 27, .8);
    padding: 0 1rem;
    border-radius: 50rem;
}

.user-todo__right i:hover {
    color: rgb(255, 62, 62);
    background-color: rgba(24, 26, 27, .5);
    padding: 0 1.5rem;
}

.user-todo__list {
    color: var(--lightgray-text-color);
}

/** end styles main */

/*? start styles sidbare right */
.parent-sidebar-right {
    width: 25rem;
    min-height: 95vh;
    background-color: var(--black-color);
    border-radius: 3.5rem;
    margin-right: 1rem;
}

/*? end styles sidbare right */