@import './root.css';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-space);
    background-color: rgb(24, 26, 27);
    color: var(--white-text-color);
}

/* start styles helper */
input:focus {
    outline: none;
}

input::placeholder {
    color: var(--lightgray-text-color);
}

.parent-sidebar__icon,
.parent-sidebar__title,
.parent-todolist__parent-inp button,
.parent-sidebar-left__parent-newlist,
.parent-sidebar-left__lists li:not(.active-list),
.parent-sidebar-left__lists li .bi-x {
    transition: all 400ms ease;
}

/* end styles helper */

.container-todolist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*! start styles sidbare left */
.parent-sidebar-left {
    width: 20%;
    min-height: 100vh;
    background-color: var(--black-color);
    font-family: var(--font-maven);
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
}

.parent-sidebar-left section {
    padding: 1rem;
}

.parent-sidebar-left__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6rem 0 8rem 0;
}

.parent-sidebar-left__icon {
    margin-right: .5rem;
    font-size: 2.8rem;
    border-radius: .5rem;
    color: var(--primary-color);
}

.parent-sidebar-left__title {
    margin: 0;
    font-family: var(--font-maven);
    text-align: center;
    user-select: none;
    font-size: 2.3rem;
    color: var(--white-text-color);
}

.parent-sidebar-left__list {
    position: relative;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0rem .5rem;
}

.parent-sidebar-left__list::after {
    content: "";
    background-color: gray;
    position: absolute;
    bottom: 3px;
    right: 100px;
    bottom: 10px;
    width: 30px;
    height: 4px;
}

.parent-sidebar-left__container-newlist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.parent-sidebar-left__parent-newlist {
    user-select: none;
    cursor: pointer;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: 3rem;
    color: lightgray;
    font-size: 1.4rem;
}

.parent-sidebar-left__parent-newlist:hover {
    padding: 0 .8rem 0 .4rem;
    background-color: rgba(24, 26, 27, .8);
}

.parent-sidebar-left__lists {
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.4rem;
    color: lightgrey;
    padding: 0;
}

.parent-sidebar-left__lists li.active-list {
    background-color: var(--primary-color);
    border-radius: 50rem;
    padding: .8rem 1rem;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parent-sidebar-left__lists li .bi-x {
    font-size: 2rem;
}

.parent-sidebar-left__lists li .bi-x:hover {
    color: whitesmoke;
}

.parent-sidebar-left__lists li {
    margin: 1rem 0 1rem .5rem;
    padding: .8rem 1rem;
    cursor: pointer;
    color: var(--white-text-color);
    font-weight: bold;
}

.parent-sidebar-left__lists li:not(.active-list):hover {
    color: var(--primary-color);
}

/*! end styles sidbare left */

/* start styles main */
.parent-todolist {
    width: 55%;
    padding: 0 11rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.parent-todolist__header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.parent-todolist__header-left {
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: 2.6rem;
    position: absolute;
    left: -4.5rem;  
    color: var(--lightgray-text-color);
    user-select: none;
}

.parent-todolist__header-left p, .parent-todolist__header-left h3  {
    margin: 0;
    text-align: center;
}

.parent-todolist__header-right {
    margin-left: 3rem;
}

.title-main,
.sub-title-main {
    font-family: var(--font-maven);
}

.title-main {
    margin-bottom: .8rem;
    font-size: 3.8rem;
}

.sub-title-main {
    margin: 0 0 3.5rem 0;
    font-size: 3rem;
    color: var(--gray-text-color);
}

.parent-todolist__parent-inp {
    background-color: rgba(207, 163, 80, .2);
    border: 2px solid var(--primary-color);
    border-radius: .5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.parent-todolist__parent-inp input {
    border: 0;
    background-color: transparent;
    color: var(--primary-color);
    padding: 1rem .8rem;
    font-size: 1.3rem;
    width: 70%;
    letter-spacing: .1rem;
}

.parent-todolist__parent-inp button {
    color: white;
    border: 0;
    background-color: var(--primary-color);
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1rem;
}

.parent-todolist__parent-inp button:hover {
    background-color: var(--primary-color);
}

/* end styles main */

/*? start styles sidbare right */
.parent-sidebar-right {
    width: 25%;
    min-height: 100vh;
    background-color: var(--black-color);
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
}

/*? end styles sidbare right */